<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>FACTORIZATION</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/main.css">
	</head>

	<body align=center onload="myFunction()" >
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" ><h1 class="heading">PRIME NUMBER FACTORIZATION</h1></div>
			<div class="col-md-3"></div>
		</div>
			<br>
			<div class="row">
			<div class="col-md-8">
				<form class="form-horizontal" action=""  method="post">
					<div class="form-group">
						<label class="control-label col-xs-3" for="var_1" id="inputs" style="padding-right: 110px;">Input - </label>
						<div class="col-xs-7">
							<input type="number" class="form-control" id="inp1" name="var_1"placeholder="Please enter a valid integer">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="var_1" id="inputs" style="padding-right: 50px;">Factorization - </label>
						<div class="col-xs-7">
							<textarea type="text" class="form-control" id="inp2"
							name="var_2" placeholder="Result will be displayed here"
									  style="height: 70px; width: 500px;"></textarea>
						</div>
					</div>
				<div class="form-group">
						<label class="control-label col-xs-3" for="var_1" id="inputs">Power Index form - </label>
						<div class="col-xs-7">
							<textarea type="text" class="form-control" id="inp3"
							name="var_3" placeholder="Result will be displayed here"
									  style="height: 70px; width: 500px;"></textarea>
						</div>
					</div>

				<div class="form-group">
						<label class="control-label col-xs-3" for="var_1" id="inputs" style="padding-right: 45px;">No of divisors - </label>
						<div class="col-xs-7">
							<textarea type="text" class="form-control" id="inp4"
							name="var_3" placeholder="Result will be displayed here"
									  style="height: 70px; width: 500px;"></textarea>
						</div>
					</div>

				<div class="form-group">
						<label class="control-label col-xs-3" for="var_1" id="inputs" style="padding-right: 30px;">Sum of divisors - </label>
						<div class="col-xs-7">
							<textarea type="text" class="form-control" id="inp5"
							name="var_3" placeholder="Result will be displayed here"
									  style="height: 70px; width: 500px;"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-xs-3" for="var_1" id="inputs" style="padding-right: 65px;">Time taken - </label>
						<label class="control-label col-xs-4" for="var_1" id="time">{{t}} </label>
					</div>

					<div class="form-group">
            			<div class="col-xs-offset-3 col-xs-9">
                			<input type="submit"  name="submit_button" class="btn btn-primary" value="Normal algo(slow)" id="button">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="submit"  name="submit_button" class="btn btn-primary" value="Pollard-rho algo(fast)" id="button">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                			<input type="reset" class="btn btn-danger" value="Reset" id="button">
            			</div>
        			</div>
        		</form>
        	</div>
        	<div class="col-md-4"></div>
		</div>
		</div>
	</body>
</html>

<script>

	var texta = document.getElementById("inp1");
	const textb = document.getElementById("inp2");
	const textc = document.getElementById("inp3");
	const textd = document.getElementById("inp4");
	const texte = document.getElementById("inp5");
	var i = '{{inp}}';
	var j = '{{entry}}'
	var k = '{{entry1}}'
	var l = '{{d1}}'
	var m = '{{d2}}'
	function myFunction() {
		texta.value = i;
		textb.value = j;
		textc.value = k;
		textd.value = l;
		texte.value = m;
	}
</script>